h3{
    font-size: larger;
}

.title{
    background-color: rgb(86, 87, 88);
    width: 80em; 
    height: 5em;
    display: flex;
    align-items: center;
}
h1{
    color: rgb(255, 255, 255);
    margin-left: 50px;
}

ul .title{
    width: 8em; 
    height: 8em;
    float: left;
    background-color: rgb(193, 193, 194);
    border: 1px, solid, white;
}

ul .title h3{
    text-align: center;
}

ul .comment{
    width: 73em; 
    height: 8em;
    float: left;
    border: 1px, solid, rgb(136, 138, 139);
}

.tag{
    font-weight:bold;
    margin-right: 10px;
}

.value{
    margin-right: 30px;
}

ul{
    line-height: 1.5;
    padding:0;
    margin:0;
    text-align: left;
    list-style-type:none;
}

ul li span{
    margin-bottom: 5px;
}

ul li .value{
    margin-bottom: 20px;
}