header{
    width: 100%;
    height: 70px;
    background-color: rgb(72, 72, 75);
}
footer{
    width: 100%;
    height: 100px;
    background-color: rgb(110, 110, 116);
}
.logo, .menu, .content{
    width: 960px;
    margin: 0 auto;
}
.logo{
    height: 50px;
    padding: 5px 20px;
}
.banner{
    width: 100%;
    height: 250px;
    background-color: rgb(180, 219, 113);
}

.navigation{
    width: 100%;
    margin-top: 20px;
}
.content{
    
}
.logo h4{
    color: white;
    font-size: larger;
    float: left;
}
.sub_navigation a{
    color: white;
    display: inline-flex;
    margin-top: 5px;
    margin-right: 10px;
    left: 800px;
    position: relative;
}
.page{
    position: relative;
    top: 200px;
    left: 900px;
}
.page_num{
    display: inline-flex;
    border: rgb(43, 116, 55) solid 1px;
    padding: 5px;
    background-color: #8df564;
    text-align: center;
}

.page_num:first-child{
    padding: 10px 5px 5px;
    background-color: #a6f786;
}

.menu_item{
    float: left;
    border:rgb(163, 162, 162) solid 1px;
    border-radius: 20px 20px 0 0 ;
    padding: 15px 20px;
    background-color: rgb(163, 162, 162);
    text-align: center;

}

.menu_item:first-child{
    background-color:white;
}
hr{
    width: 100%;
}
.content_item{
    padding: 80px;
    margin: 5px;
    display: inline-flex;
    border:rgb(163, 162, 162) solid 1px;
}
.footer{
    color: white;
    text-align: center;
    padding-top: 20px;
}